body{
	background: rgba(0,0,0,0.9);
	margin: 0;
	color: #fff;
	font-family: 'Segoe UI', Tohoma, Geneva, Verdana, sans-serif;

}


.showcase::after{
	content: '';
	height: 100vh;
	width: 100%;
	background-image: url(code.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	as it can*/
	display: block;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	transition: all 1000ms;
}




.showcase:hover::after{
	filter: blur(0px);
	-webkit-filter: blur(0px);
}


.showcase:hover .content{
	filter: blur(2px);
	-webkit-filter: blur(2px);
}



.content{
	having the logo and the text on top of the image*/
	position: absolute;
	and you can't see it.*/
	z-index: 1;
	top: 10%;
	left: 50%;
	margin-top: 105px;
	margin-left: -145px;
	width: 300px;
	height: 350px;
	text-align: center;
	floats in from the left to center (margin top and left to top and left*/
	transition: all 1000ms;
}

.content .logo{
 height: 180px;
 width: 180px;
}

.content .title{
	font-size: 2.2rem;
	margin-top: 1rem;
}

.content .text{
	line-height: 1.7;
	margin-top: 1rem;
}

.container{
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 4rem 1rem;
}

.grid-3{
	display: grid;
	 grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}

.content-size{
	font-size: 20px;
	font-weight: normal;
}


.grid-2 {
	display: grid;
	 grid-gap: 0px;
	grid-template-columns: repeat(2, 1fr);
}


.about-size{
	font-size: 14px;
}
.center{
	text-align: center;
	margin: auto;
}

.bg-light{
	background: #f4f4f4;
	color: #333;
}

.bg-dark{
	background: #333;
	color: #f4f4f4;
}
footer{
	padding: 2.2rem;
}

footer p{
	margin: 0;
}
